<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.7">
<title>Nilaj own Chess</title>
<link rel="icon" href="/images/chess.png"  type="image/jpeg" />
<link rel="stylesheet" href="/css/chess.css">

<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>

<body class="bg-zinc-900 text-white flex items-center justify-center min-h-screen p-6">

<div class="flex flex-col items-center gap-4 w-full max-w-xl">

    <!-- Status -->
     <div id="status" class="status-box">
        
    </div>
    <!-- Spectator Link -->
     <div id="specatator" class="hidden flex flex-col items-center justify-center gap-2">
        <span>Spectator Link⬇️</span>
    <div id="spectateLink" class="text-blue-400 underline hidden">
        <a id="spectateLinkAnchor" href="#" target="_blank"></a>
    </div>
    </div>

    <!-- Players -->
    <div id="players" class="hidden flex items-center gap-6 text-lg">
        <div>♙ White: <span id="whiteName">Waiting</span></div>
        <div id="turnIndicator" class="px-3 py-1 bg-emerald-600 rounded">Turn</div>
        <div>♟ Black: <span id="blackName">Waiting</span></div>
    </div>

    <!-- Timer -->
    <div id="timerBox" class="hidden px-4 py-2 bg-red-600 rounded text-lg font-bold">
        ⏱ <span id="turnTimer">30</span>s
    </div>

    <!-- Captured pieces container (hidden until paired) -->
    <div id="capturedContainer" class="hidden flex gap-6 text-2xl">
        <div>White captured: <span id="whiteCaptured"></span></div>
        <div>Black captured: <span id="blackCaptured"></span></div>
    </div>

    <!-- Spectator count container (hidden until paired) -->
    <div id="spectatorContainer" class="hidden text-gray-400">
        👁 Spectators: <span id="spectatorCount">0</span>
    </div>

    <!-- Chessboard -->
    <div class="chessboard hidden"></div>

</div>

<!-- SCRIPTS -->
<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"></script>
<script src="/js/chessgame.js"></script>

</body>
</html>
